<div id="<%= dom_id event %>">

  <p>
    <strong>ID:</strong>
    <%= event.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Event start time:</strong>
    <%= event.event_start_time %>
  </p>

  <p>
    <strong>Total tickets:</strong>
    <%= event.total_tickets %>
  </p>

  <p>
    <strong>Available tickets:</strong>
    <!--  just to show query is not getting called when cached -->
    <%= event.remaining_tickets || event.available_tickets %>
  </p>
  
</div>
