<div id="<%= dom_id ticket %>">

  <p>
    <strong>ID:</strong>
    <%= ticket.id %>
  </p>

  <p>
    <strong>Event Name:</strong>
    <%= ticket.event.name %>
  </p>

  <p>
    <strong>Event Location:</strong>
    <%= ticket.event.location %>
  </p>

  <p>
    <strong>Event Start Time:</strong>
    <%= ticket.event.event_start_time %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= ticket.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status.humanize %>
  </p>

  <%= link_to "Link to Event", ticket.event, class: 'btn btn-sm btn-primary' %>
  <% if ticket.active? %>
    <div class='d-inline-block'>
      <%= button_to "Cancel Ticket", cancel_ticket_path(ticket), method: :post, class: 'btn btn-sm btn-dark' %>
    </div>
  <% end %>
</div>
